@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins&display=swap');

body, p + h3{ font-family: "Lato", sans-serif;}

body { 
    background-color: #fae5c9;
    color: #201f1f;
}

h1 {  font-family: "Poppins", sans-serif;
font-weight:700;
}

h4 {  font-family: "Poppins", sans-serif;
    font-weight:400;
    }

h1, h4 {text-align: center;}

h2, h3, h4 { font-weight:400;}

#Semi { font-weight: 700; text-decoration: underline;}